link(href="/admin/css/bootstrap.css", rel="stylesheet")
link(href="/admin/css/site.css", rel="stylesheet")
link(href="/admin/css/main.css", rel="stylesheet")
script(src="/admin/js/jquery.min.js")
script(src="/admin/js/bootstrap.min.js")