link(href="/admin/css/header.css", rel="stylesheet")
header.layui-header
  ul.layui-nav.layui-layout-left
    li.layui-nav-item 暂定
  ul.layui-nav.layui-layout-right
    li.layui-nav-item.user-warp.in-block 消息
    li.layui-nav-item.user-warp.in-block.u-munes user
      ul.right-mune
        li
          a(href="user-info") 个人中心
        li
          a(href="user-account") 账户切换
        li
          a(href="sign-out") 退出