link(href="/web/css/bootstrap.css", rel="stylesheet")
link(href="/web/css/site.css", rel="stylesheet")
link(href="/web/css/main.css", rel="stylesheet")
script(src="/web/js/jquery.min.js")
script(src="/web/js/bootstrap.min.js")