link(href="/web/css/header.css", rel="stylesheet")
header.layui-header
  ul.layui-nav.layui-layout-left
    li.layui-nav-item 首页
  ul.layui-nav.layui-layout-right
    li.layui-nav-item.user-warp.in-block 某某用户在或者是游客